@page
@model IndexModel
@{
    ViewData["Title"] = "Запуск";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <form  method="post">
        <div class="input-group mb-3">
            <input  type="url" name="Url" class="form-control @Model.IsError" placeholder="адрес страницы" aria-label="адрес страницы" aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Проверить</button>
            </div>
            <div class="invalid-feedback">Введите корректный url</div>
        </div>
        
        @* <div class="form-group col-3"> *@
            @* <label>Price</label> *@
            @* <div class="input-group"> *@
            @*     <input type="number" class="form-control is-invalid" required /> *@
            @*     <div class="invalid-feedback">The Price is required.</div> *@
            @* </div> *@
        @* </div> *@    
        
        <div style="display: flex; justify-content: space-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  name="HrefLink" id="hrefLink" value="true">
                <label class="custom-control-label" for="hrefLink">Ссылки переходов</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="ImgLink" id="imgLink" value="true">
                <label class="custom-control-label" for="imgLink">Адреса изображений</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  name="JsAndCssLink" id="jsAndCssLink" value="true">
                <label class="custom-control-label" for="jsAndCssLink">Адреса javascript и css файлов</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  name="H1Tags" id="h1Tags" value="true">
                <label class="custom-control-label" for="h1Tags">Содержимое тегов H1</label>
            </div>
        </div>
    </form>

</div>